name: Release file

on:
  release:
    types: [published]
  
permissions:
  contents: write

jobs:
  build:
    name: Publish files
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Upload binaries to release
      run: |
          gh release upload ${{github.event.release.tag_name}} docker-compose* env install.sh uninstall.sh
      env:
        GITHUB_TOKEN: ${{ github.TOKEN }}
      shell: bash